body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 1em !important;
  color: #263633 !important;
  background-color: #F1E4E1;
}
input[type="button"], button, a {
  font-family: 'Oswald', sans-serif !important;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiBottomNavigationAction-root.Mui-selected {
  color: #630663 !important;
}


h1, h2, h3, h4 {
  font-family: 'Oswald', sans-serif !important;
  font-weight: normal;
}
h1 {
  text-align: center;
  color: #707070 !important;
}

h2 {
  margin-top: 0px;
}

h3, h4 {
  margin: 0px;
}